<h1>Science & Health, with Key to the Scriptures</h1>
<h3>By Mary Baker Eddy</h3>
<hr/>

<div class="row">
  <div class="col-md-5 col-md-offset-1 col-sm-6">
    <h4>Original Text (English)</h4>
  </div>
  <div class="col-md-5 col-sm-6">
    <h4 class="pull-left">Chinese Translation</h4>
    <span
      class="glyphicon glyphicon-info-sign margin10 tooltippable"
      title="Please fix the auto-translations, shown in yellow"
      >
    </span>
  </div>
</div>

<% @phrases.each do |phrase| %>
  <% trans = @translations[phrase.id] %>
<div class="row">

  <div class="col-md-5 col-md-offset-1 col-sm-6">
    <p><%= link_to phrase.key, phrase_path(phrase) %></p>
  </div>

  <div class="col-md-5 col-sm-6">
    <%= link_to phrase_path(phrase), class: 'black' do %>
      <div class="rounded pad10 <%= trans.auto? ? 'auto' : 'good' %>-translation">
        <%= trans.translation %>
      </div>
    <% end %>
  </div>
</div>

<hr />

<% end %>
