<h1>Science & Health, with Key to the Scriptures</h1>
<h3>By Mary Baker Eddy</h3>
<hr/>

<div class="row">
  <div class="col-md-5 col-md-offset-1 col-sm-6">
    <h4>Original Text (English)</h4>
  </div>
  <div class="col-md-5 col-sm-6">
    <h4>Chinese Translation</h4>
  </div>
</div>

<% @phrases.each do |phrase| %>
  <div class="row">

    <div class="col-md-5 col-md-offset-1 col-sm-6">
      <p><%= link_to phrase.key, phrase_path(phrase) %></p>
    </div>

    <div class="col-md-5 col-sm-6">
      <p>
        <% if @translations[phrase.id].locale == "en" %>
          <!-- lighter color -->
          <a href="<%= phrase_path(phrase) %>">
            <em><span class="faded_text"><%= @translations[phrase.id].text %></span></em>
          </a>
        <% else %>
          <%= @translations[phrase.id].text %>
        <% end %>
      </p>
    </div>
  </div>

  <hr />

<% end %>
